html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.bold {
  font-weight: 600;
}

button {
  padding: 1.25em 2em;
  border: none;
  border-radius: 5px;
  background: #3fc2c3;
  margin-top: 1em;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1.5px;
  transition: all .5s ease;
  box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
  cursor: pointer;
}

button:hover {
  box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
  background: #2aadae;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-weight: 300;
}

.turquoise {
  color: #3fc2c3;
}

.gray {
  color: #667079;
}

/*
 * Styles for the deck of cards
 */

.deck {
  width: 660px;
  min-height: 680px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}

.deck .card {
  height: 125px;
  width: 125px;
  background: #2e3d49;
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
  transform: rotateY(0);
  background: #02b3e4;
  cursor: default;
  animation-duration: .75s;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
}

.deck .card.show {
  font-size: 33px;
}

.deck .card.match {
  cursor: default;
  background: #02ccba;
  font-size: 33px;
  animation-duration: .75s;
  -webkit-animation-name: tada;
  animation-name: tada;
}

.deck .card.incorrect {
  background: #e74e44;
}

.deck .card.disabled {
  pointer-events: none;
}

.wobble {
  -webkit-animation-name: wobble !important;
  animation-name: wobble !important;
}

/*
 * Styles for the Score Panel
 */

.fa-star {
  color: #fad02b;
}

.score-panel {
  text-align: left;
  width: 360px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

.score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

.score-panel .stars li,
.modal-rating li {
  list-style: none;
  display: inline-block;
}

.score-panel .restart {
  float: right;
  cursor: pointer;
}

.score-panel .timer {
  display: inline-block;
  width: 62px;
}

.score-panel .star-container {
  display: inline-block;
  width: 135px;
  text-align: right;
}


/*
 * Styles for modal
 */

.modal {
  opacity: 0;
  display: none;
  transition: all 0.5s ease;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(82,92,100,0.7);
}

.modal-content {
  background-color: #fff;
  margin: auto;
  padding: 135px 30px 30px;
  width: 340px;
  border-radius: 20px;
  box-shadow: 5px 5px 35px 0 rgba(46,61,73,.4);
  text-align: center;
  position: relative;
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.modal-content:before {
  content: '';
  width: 100%;
  height: 115px;
  background: #3fc2c3;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
}

.modal-content:after {
  content: '';
  width: 125px;
  height: 125px;
  position: absolute;
  border-radius: 50%;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff url('../img/trophy.svg') no-repeat center;
  background-size: 55%;
}

.modal h4 {
  font-size: 1.8em;
  font-weight: 300;
  color: #2aadae;
  margin: 1em 0 0;
}

.modal p {
  margin: .75em;
  color: #525C63;
}

.modal p:first-of-type {
  margin: 1em;
}

.visible {
  opacity: 1;
}

.display {
  display: block;
}
