header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.nom-logo {
  width: calc((var(--card-width) * 2) + (var(--card-gap)));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: $display;

  > p {
    margin: 0;
    text-align: center;
    letter-spacing: 0.5px;
    font-size: 0.98rem;
    margin-top: -5px;
    color: $purple-dark;
  }
}

.score-panel {
  text-align: left;
  width: calc(var(--card-width) + var(--card-gap) + (var(--card-width) / 3));
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
  color: $gray;
  font-family: $display;
  font-size: 0.95rem;
  letter-spacing: 0.5px;

  > div {
    background: $white-opaque;
    border-radius: 6px;
    padding: 0.6rem 0.75rem;
    display: flex;
    align-items: center;
  }

  i {
    font-size: 1.2rem;
  }

  .heart-container {
    justify-content: space-between;
    flex: 0 0 100%;
    margin-bottom: 6px;
    display: flex;
  }

  .hearts {
    margin: 0;
    padding: 0;
    display: flex;
    align-self: flex-end;

    > i {
      color: $red;
      font-size: 1.1rem;

      &:not(:last-child) {
        margin-right: 0.25rem;
      }

      &.inactive {
        color: $yellow;
      }
    }
  }

  .timer i,
  .restart i {
    margin-right: 0.4rem;
  }

  .restart {
    cursor: pointer;
    flex: 1 1;
    justify-content: center;
    transition: background 0.3s ease;

    i {
      color: $blue;
    }

    &:hover {
      background: $blue;
      color: #fff;
      i {
        color: $white;
      }
    }
  }

  .timer {
    margin-right: 6px;
    min-width: 92px;

    i {
      color: $purple;
    }
  }
}

.score-panel .hearts li,
.modal-rating li {
  list-style: none;
  display: inline-block;
}
