.game-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.game-inner-container {
  max-width: calc((var(--card-width) * 4) + (var(--card-gap) * 3));
  width: 100%;
}

.deck {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .card {
    height: var(--card-width);
    width: var(--card-width);
    background: #2e3d49;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 10px 0 rgba(92, 81, 68, 0.25);
    margin: 0 var(--card-gap) var(--card-gap) 0;
    background-image: url("../img/sprinkles.svg");
    background-color: $white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-child(n + 13) {
      margin-bottom: 0;
    }

    > img {
      height: 0;
    }

    &.open {
      transform: rotateY(0);
      background: $purple;
      cursor: default;
      animation-duration: 0.75s;
      backface-visibility: visible;
      animation-name: flipInY;
    }

    &.show > img {
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      width: 100%;
      padding: 20%;
      text-align: center;
    }

    &.match {
      cursor: default;
      background: $purple;
      animation-duration: 0.75s;
      animation-name: tada;
    }

    &.incorrect {
      background: $red;
    }

    &.disabled {
      pointer-events: none;
    }
  }
}

.wobble {
  animation-name: wobble !important;
}
