// color palette
$yellow: #ffbb3c;
$yellow-med: #f2ae2f;
$yellow-dark: #ffa700;
$white-opaque: rgba(255, 255, 255, 0.4);
$white: #f3f2f7;
$purple: #8e4795;
$purple-dark: #7a3382;
$blue: #26c4b5;
$red: #ff5363;
$red-med: #f04454;
$gray: #646464;
$gray-light: #7b7b7b;
$brown: #946b3e;

// fonts
$display: "Fredoka One", sans-serif;
$text: "Quicksand", sans-serif;

.purple {
  color: $purple;
}

:root {
  --card-width: 155px;
  --card-gap: 15px;
}
